<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.png}" />
    <title>Dashboard - NFC Patrol Systems</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/line-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/morris/morris.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />

    <script type="text/javascript" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/morris/morris.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/raphael/raphael-min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/chart.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/validationScript.js}"></script>
		
    <!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a th:href="@{/pageAccueil}" class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="" width="40" height="40" />
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="la la-bars"></i></a>
            <div class="page-title-box pull-left">
                <h3>NFC Patrol Manager</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars"
                    aria-hidden="true"></i></a>
            <ul class="nav navbar-nav navbar-right user-menu pull-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span
                            class="badge bg-purple pull-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="media-list">
                                <li class="media notification-message">
                                    <a th:href="@{activities}">
                                        <div class="media-left">
                                            <span class="avatar">
                                                <img alt="John Doe" th:src="@{/assets/img/user.jpg}"
                                                    class="img-responsive img-circle" />
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p class="m-0 noti-details"><span class="noti-title">John Doe</span> added
                                                new task <span class="noti-title">Patient appointment booking</span></p>
                                            <p class="m-0"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a th:href="@{activities}">
                                        <div class="media-left">
                                            <span class="avatar">V</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="m-0 noti-details"><span class="noti-title">Tarah Shropshire</span>
                                                changed the task name <span class="noti-title">Appointment booking with
                                                    payment gateway</span></p>
                                            <p class="m-0"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a th:href="@{activities}">
                                        <div class="media-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="m-0 noti-details"><span class="noti-title">Misty Tison</span>
                                                added <span class="noti-title">Domenic Houston</span> and <span
                                                    class="noti-title">Claire Mapes</span> to project <span
                                                    class="noti-title">Doctor available module</span></p>
                                            <p class="m-0"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a th:href="@{activities}">Voir toutes les Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="javascript:;" id="open_msg_box" class="hasnotifications"><i class="fa fa-comment-o"></i>
                        <span class="badge bg-purple pull-right">8</span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{profile}" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                        <span class="user-img"><img class="img-circle" th:src="@{/assets/img/user.jpg}" alt="Admin"
                                width="40" />
                            <span class="status online"></span></span>
                        <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{profile}">My Profile</a></li>
							<li><a th:href="@{edit-profile}">Edit Profile</a></li>
							<li><a th:href="@{settings}">Settings</a></li>
							<li><a th:href="@{/login?logout}">Logout</a></li>
						</ul>
					</li>
				</ul>
				<div class="dropdown mobile-user-menu pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a th:href="@{profile}">My Profile</a></li>
						<li><a th:href="@{edit-profile}">Edit Profile</a></li>
						<li><a th:href="@{settings}">Settings</a></li>
						<li><a th:href="@{/login?logout}">Logout</a></li>
					</ul>
				</div>
            </div>
            <div class="sidebar" id="sidebar">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 323px;"><div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 323px;">
					<div id="sidebar-menu" class="sidebar-menu" style="display: block;">
						<ul>
							<li class="active"> 
								<a href="index.html"><i class="la la-dashboard"></i> <span>Accueil</span></a>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="la la-group"></i> <span> Employées</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a th:href="@{patrouilleurs}">Patrouilleurs</a></li>
									<li><a th:href="@{responsables}">Responsables</a></li>
									<li><a th:href="@{/admin/admins}">Administrateurs</a></li>
								</ul>
							</li>
							<li> 
								<a th:href="@{/admin/checkpoint}"><i class="la la-connectdevelop"></i> <span>Points de contrôle</span></a>
							</li><li> 
								<a th:href="@{/resp/activities}"><i class="la la-bell"></i> <span>Activitiés</span></a>
							</li><li> 
								<a th:href="@{/patrouilles}"><i class="la la-clock-o"></i> <span>Patrouilles</span></a>
							</li>
							
							
							<li> 
								<a th:href="@{/resp/events}"><i class="la la-calendar"></i> <span>Programme</span></a>
							</li>
							
							<li> 
								<a th:href="@{/admin/users}"><i class="la la-user-plus"></i> <span>Users</span></a>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="la la-pie-chart"></i> <span>Rapport</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="expense-reports.html"> Expense Report </a></li>
									<li><a href="invoice-reports.html"> Invoice Report </a></li>
								</ul>
							</li>
							<li> 
								<a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>
							<li> 
								<a href="contacts.html"><i class="la la-book"></i> <span>Contacts</span></a>
							</li><li class="submenu">
								<a href="#" class=""><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="login.html"> Login </a></li>
									<li><a href="register.html"> Register </a></li>
									<li><a href="forgot-password.html"> Forgot Password </a></li>
									<li><a href="profile.html"> Profile </a></li>
								</ul>
							</li>
							
						</ul>
					</div>
                </div><div class="slimScrollBar" style="background: rgb(204, 204, 204) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 611px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </div>
            <div class="page-wrapper" style="min-height: 382px;">
			
				
		    <!-- Content Fragment -->
            
                <section layout:fragment="content">
            
				</section>
				

            <div id="add_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content modal-lg">
						<div class="modal-header">
							<h4 class="modal-title">Ajouter point de controle</h4>
						</div>
						<div class="modal-body">
							<form th:action="@{SaveCheckpoint}" class="m-b-30" method="post" th:object="${checkpoint}">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Geo-localisation <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{geo_location}"
											onblur="valider_string(this)" onfocus="retirer_style(this)"/>
                                            <span class="text-danger" th:errors="*{geo_location}"></span>
										</div>
									</div>
									
								</div>
								
								<div class="m-t-20 text-center">
									<button class="btn btn-primary">Créer utilisateur</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="edit_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content modal-lg">
						<div class="modal-header">
							<h4 class="modal-title">Edit User</h4>
						</div>
						<div class="modal-body">
							<form class="m-b-30">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">First Name <span class="text-danger">*</span></label>
											<input class="form-control" value="John" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input class="form-control" value="Doe" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Username <span class="text-danger">*</span></label>
											<input class="form-control" value="johndoe" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Email <span class="text-danger">*</span></label>
											<input class="form-control" value="johndoe@example.com" type="email"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Password</label>
											<input class="form-control" type="password"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Confirm Password</label>
											<input class="form-control" type="password"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Phone </label>
											<input class="form-control" value="9876543210" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Role</label>
											<select class="select">
												<option>Admin</option>
												<option>Client</option>
												<option selected="true">Employee</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Company</label>
											<select class="select">
												<option>Global Technologies</option>
												<option>Delta Infotech</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">  
										<div class="form-group">
											<label class="control-label">Employee ID <span class="text-danger">*</span></label>
											<input type="text" value="FT-0001" class="form-control floating"/>
										</div>
								   </div>
								</div>
								<div class="table-responsive m-t-15">
									<table class="table table-striped custom-table">
										<thead>
											<tr>
												<th>Module Permission</th>
												<th class="text-center">Read</th>
												<th class="text-center">Write</th>
												<th class="text-center">Create</th>
												<th class="text-center">Delete</th>
												<th class="text-center">Import</th>
												<th class="text-center">Export</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Employee</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
											</tr>
											<tr>
												<td>Holidays</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
											</tr>
											<tr>
												<td>Leave Request</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
											</tr>
											<tr>
												<td>Events</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
												<td class="text-center">
													<input checked="" type="checkbox"/>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="m-t-20 text-center">
									<button class="btn btn-primary">Edit User</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="delete_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content modal-md">
						<div class="modal-header">
							<h4 class="modal-title">Delete Employee</h4>
						</div>
						<form>
							<div class="modal-body card-box">
								<p>Vous etes sur de supprimer cet utilisateur ?</p>
								
							<div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">Fermer</a>
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</div>
							</div>
						</form>
					</div>
				</div>
			</div>
            
                <footer class="navbar-fixed-bottom">
                    <div class="container text-right">
                        <small>
                            rfidMaroc-WolvesTeam @2019
                        </small>
                    </div>
                </footer>
            
            
                <div class="notification-box">
					<div class="msg-sidebar notifications msg-noti">
						<div class="topnav-dropdown-header">
							<span>Messages</span>
						</div>
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 259px;"><div class="drop-scroll msg-list-scroll" style="overflow: hidden; width: auto; height: 259px;">
							<ul class="list-box">
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">R</span>
											</div>
											<div class="list-body">
												<span class="message-author">Richard Miles </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item new-message">
											<div class="list-left">
												<span class="avatar">J</span>
											</div>
											<div class="list-body">
												<span class="message-author">John Doe</span>
												<span class="message-time">1 Aug</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">T</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Tarah Shropshire </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">M</span>
											</div>
											<div class="list-body">
												<span class="message-author">Mike Litorus</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">C</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Catherine Manseau </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">D</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Domenic Houston </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">B</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Buster Wigton </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">R</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Rolland Webber </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">C</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Claire Mapes </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">M</span>
											</div>
											<div class="list-body">
												<span class="message-author">Melita Faucher</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">J</span>
											</div>
											<div class="list-body">
												<span class="message-author">Jeffery Lalor</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">L</span>
											</div>
											<div class="list-body">
												<span class="message-author">Loren Gatlin</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">T</span>
											</div>
											<div class="list-body">
												<span class="message-author">Tarah Shropshire</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div><div class="slimScrollBar" style="background: rgb(135, 135, 135) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px; height: 765.466px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
						<div class="topnav-dropdown-footer">
							<a href="chat.html">See all messages</a>
						</div>
					</div>
				</div>			
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar">
        </div>
	</body>
</html>