<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}"/>
        <title>Users - NFC Patrol System</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/line-awesome.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{assets/css/dataTables.bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{assets/css/select2.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap-datetimepicker.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>
    <body>
        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img th:src="@{assets/img/logo.png}" width="40" height="40" alt=""/>
					</a>
                </div>
                <div class="page-title-box pull-left">
					<h3>NFC Patrol Manager</h3>
                </div>
				<a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge bg-purple pull-right">3</span></a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span>Notifications</span>
							</div>
							<div class="drop-scroll">
								<ul class="media-list">
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">
													<img alt="John Doe" th:src="@{assets/img/user.jpg}" class="img-responsive img-circle"/>
												</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="m-0"><span class="notification-time">4 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="m-0"><span class="notification-time">6 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">L</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="m-0"><span class="notification-time">8 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">G</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="m-0"><span class="notification-time">12 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="m-0"><span class="notification-time">2 days ago</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<li class="dropdown hidden-xs">
						<a href="javascript:;" id="open_msg_box" class="hasnotifications"><i class="fa fa-comment-o"></i> <span class="badge bg-purple pull-right">8</span></a>
					</li>	
					<li class="dropdown">
						<a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
							<span class="user-img"><img class="img-circle" th:src="@{assets/img/user.jpg}" width="40" alt="Admin"/>
							<span class="status online"></span></span>
							<span>Admin</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="profile.html">My Profile</a></li>
							<li><a href="edit-profile.html">Edit Profile</a></li>
							<li><a href="settings.html">Settings</a></li>
							<li><a href="login.html">Logout</a></li>
						</ul>
					</li>
				</ul>
				<div class="dropdown mobile-user-menu pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="profile.html">My Profile</a></li>
						<li><a href="edit-profile.html">Edit Profile</a></li>
						<li><a href="settings.html">Settings</a></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
				</div>
            </div>
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li> 
								<a href="index.html"><i class="la la-dashboard"></i> <span>Accueil</span></a>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="la la-group"></i> <span> Employées</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="employees.html">Patrouilleurs</a></li>
									<li><a href="employees.html">Responsables</a></li>
									<li><a href="employees.html">Administrateurs</a></li>
								</ul>
							</li>
							<li> 
								<a href="assets.html"><i class="la la-connectdevelop"></i> <span>Rondes</span></a>
							</li><li> 
								<a href="activities.html"><i class="la la-bell"></i> <span>Activitiés</span></a>
							</li><li> 
								<a href="worksheet.html"><i class="la la-clock-o"></i> <span>Timing Sheet</span></a>
							</li>
							
							
							<li> 
								<a href="events.html"><i class="la la-calendar"></i> <span>Programme</span></a>
							</li>
							
							<li class="active"> 
								<a href="users.html"><i class="la la-user-plus"></i> <span>Users</span></a>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="la la-pie-chart"></i> <span>Rapport</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="expense-reports.html"> Expense Report </a></li>
									<li><a href="invoice-reports.html"> Invoice Report </a></li>
								</ul>
							</li>
							<li> 
								<a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>
							<li> 
								<a href="contacts.html"><i class="la la-book"></i> <span>Contacts</span></a>
							</li><li class="submenu">
								<a href="#" class=""><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="login.html"> Login </a></li>
									<li><a href="register.html"> Register </a></li>
									<li><a href="forgot-password.html"> Forgot Password </a></li>
									<li><a href="profile.html"> Profile </a></li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-xs-4">
							<h4 class="page-title">Utilisateurs</h4>
						</div>
						<div class="col-xs-8 text-right m-b-30">
							<a href="#" class="btn btn-primary rounded" data-toggle="modal" data-target="#add_user"><i class="fa fa-plus"></i> Ajouter utilisateur</a>
						</div>
                    </div>
                    <form th:action="@{users}" method="get">
                        <div class="row filter-row">
						<div class="col-sm-3 col-xs-6">  
							<div class="form-group form-focus">
								<label class="control-label">Name</label>
                                <input type="text" class="form-control floating" name="motCle"/>
                                
							</div>
                        </div>
                        
                        <div class="col-sm-3 col-xs-6">  
							<button class="btn btn-success btn-block" type="submit"> Search </button>  
						</div>
                        </div>
                    </form>	

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table">
									<thead>
										<tr>
                                            <th>Identifiant</th>
											<th style="width:30%;">Nom</th>
											<th>Prénom</th>
											<th>CIN</th>
											<th>Date de naissance</th>
											<th>Téléphone</th>
											<th>Email</th>
											
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
                                        <tr th:each="u:${pageUtilisateurs.content}">
                                             <td th:text="${u.id_user}"></td>
                                             <td th:text="${u.nom}"></td>
                                             <td th:text="${u.prenom}"></td>
                                             <td th:text="${u.cin}"></td>
                                             <td th:text="${u.date_naissance}"></td>
                                             <td th:text="${u.telephone}"></td>
                                             <td text=""></td>
                                             <td class="text-right">
												<div class="dropdown">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
													<ul class="dropdown-menu pull-right">
														<li><a th:href="@{edit(id=${u.id_user})}"><i class="fa fa-pencil m-r-5"></i> Modifier</a></li>
														<li><a onclick="return confirm('Etes-vous sûr de vouloir supprimer?')" th:href="@{supprimer(id=${u.id_user})}"><i class="fa fa-trash-o m-r-5"></i> Supprimer</a></li>
													</ul>
												</div>
											</td>
                                        </tr>
									</tbody>
                                </table>
							</div>
						</div>
					</div>
                </div>

                <div class="container">
                    <ul class="nav nav-pills">
                        <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                             <a th:text="${p}" th:href="@{users(page=${p})}"></a>
                        </li>
                    </ul>
                </div>

				<div class="notification-box">
					<div class="msg-sidebar notifications msg-noti">
						<div class="topnav-dropdown-header">
							<span>Messages</span>
						</div>
						<div class="drop-scroll msg-list-scroll">
							<ul class="list-box">
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">T</span>
											</div>
											<div class="list-body">
												<span class="message-author">Tarah Shropshire</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="chat.html">See all messages</a>
						</div>
					</div>
				</div>
            </div>
			<div id="add_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content modal-lg">
						<div class="modal-header">
							<h4 class="modal-title">Ajouter utilisateur</h4>
						</div>
						<div class="modal-body">
							<form th:action="@{SaveUtilisateur}" class="m-b-30" method="post" th:object="${utilisateur}">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Prénom <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{prenom}"/>
                                            <span class="text-danger" th:errors="*{prenom}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Nom <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{nom}"/>
                                            <span class="text-danger" th:errors="*{nom}"></span>
										</div>
									</div>
                                    <div class="col-md-6">
										<div class="form-group">
											<label class="control-label">CIN <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{cin}"/>
                                            <span class="text-danger" th:errors="*{cin}"></span>
										</div>
									</div>
                                    <div class="col-md-6">
										<label class="control-label">Date naissance <span class="text-danger">*</span></label>
										<div class="form-group cal-icon">
											<input class="form-control datetimepicker" type="text" th:field="*{date_naissance}"/>
                                            <span class="text-danger" th:errors="*{date_naissance}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Login <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{login}"/>
                                            <span class="text-danger" th:errors="*{login}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Email</label>
											<input class="form-control" type="email" th:field="*{email}"/>
                                            <span class="text-danger" th:errors="*{email}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Mot de passe <span class="text-danger">*</span></label>
											<input class="form-control" type="password"  th:field="*{password}"	
											required="true" maxlength="30" onblur="valide_mdp(this)" onfocus="retirer_style(this)"/>
                                            <span class="error"></span>
											<span class="text-danger" th:errors="*{password}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Confirmer mot de passe <span class="text-danger">*</span></label>
											<input class="form-control" type="password" 
											required="true" maxlength="30" onblur="valide_mdp_con(oldmdp,this)" onfocus="retirer_style(this)"/>
											<span class="error"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Téléphone <span class="text-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{telephone}"/>
                                            <span class="text-danger" th:errors="*{telephone}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Rôle</label>
											<select class="select">
												<option>Admin</option>
												<option>Responsable</option>
												<option>Patrouilleur</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="m-t-20 text-center">
									<button class="btn btn-primary">Créer utilisateur</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="edit_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content modal-lg">
						<div class="modal-header">
							<h4 class="modal-title">Edit User</h4>
						</div>
						<div class="modal-body">
							<form class="m-b-30">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">First Name <span class="text-danger">*</span></label>
											<input class="form-control" value="John" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input class="form-control" value="Doe" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Username <span class="text-danger">*</span></label>
											<input class="form-control" value="johndoe" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Email <span class="text-danger">*</span></label>
											<input class="form-control" value="johndoe@example.com" type="email"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Password</label>
											<input class="form-control" type="password"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Confirm Password</label>
											<input class="form-control" type="password"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Phone </label>
											<input class="form-control" value="9876543210" type="text"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Role</label>
											<select class="select">
												<option>Admin</option>
												<option>Client</option>
												<option>Employee</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Company</label>
											<select class="select">
												<option>Global Technologies</option>
												<option>Delta Infotech</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">  
										<div class="form-group">
											<label class="control-label">Employee ID <span class="text-danger">*</span></label>
											<input type="text" value="FT-0001" class="form-control floating"/>
										</div>
								   </div>
								</div>
								
								<div class="m-t-20 text-center">
									<button class="btn btn-primary">Edit User</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <script type="text/javascript" th:src="@{assets/js/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{assets/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/dataTables.bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/jquery.slimscroll.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/select2.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/app.js}"></script>
		<script type="text/javascript" th:src="@{assets/js/validationScript.js}"></script>
    </body>
</html>